.header_text
{
  width : 100%;
  height : 89px ;
  position: absolute;
  left: 0% ;
  top : 0% ;
  background-color: #6397DD ;
  background: linear-gradient(to bottom right, #01508C , white);
  box-shadow:5px 5px 5px #888888;

}

.image{
  background-image: url("i.jpg");
  position: absolute;
  width: 87px ;
  height: 90px ;
left : 225px ;
background-repeat: no-repeat;
background-size: contain;
}
.dept_text1
{
  font-size : 27px ;
  position: absolute;
  font-family: arial , verdana , sans-serif ;
  color : white ;
  top : 10% ;
  width: 70% ;
  text-shadow: 4px 1px 4px #000000;
  left: 24% ;
  font-weight: bold;
}
/*#D3D4E3*/
.dept_text2
{
  font-size : 27px ;
  position: absolute;
  font-family: arial , verdana , sans-serif ;
  color : white ;
  top : 55% ;
  width: 60% ;
  left: 34% ;
  text-shadow: 4px 1px 4px #000000;
  font-weight: bold;
}


.menu{
  position : absolute ;
  width : 99% ;
  height: 50% ;
  top : 15% ;

}

.page{
  width: 100%;
  position: absolute;
  height: 75%;
  top : 25%;
  background: linear-gradient(to bottom right , white , #E2ECF3);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    height : 100% ;
    position: absolute;
    left : 2px ;
}
.sub1{
  left : 160px ;
  background-color: #ECF1F5 ;
  display : none ;
  top : 0% ;
  height : auto ;
  width : 77%;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: #6397DD;
    text-align: center;
    padding: 17px 15px;
    text-decoration: none;
    font-size : 16px ;
    font-family:  arial , verdana , sans-serif ;
    font-weight: bold;
}

li a:hover:not(.active), .dropdown:hover .dropbtn {
    background-color: white;
    color : #6397DD ;
    border-bottom: 3px solid #01508C;
    text-decoration: none;
    padding-bottom: 11px ;
}
li.dropdown {
    display: inline-block;
}

.active{
  background-color: #01508C ;
  color : white ;

  display: inline-block;
  text-align: center;
  padding: 16px 17px;
  text-decoration: none;
  font-size : 15px ;
  font-family:  verdana ;
  font-weight: bold;

}

.active:hover{
  background-color: #01508C ;
  color : white ;

  display: inline-block;
  text-align: center;
  padding: 16px 17px;
  text-decoration: none;
  font-size : 15px ;
  font-family:  verdana ;
  font-weight: bold;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ECF1F5;
    min-width: 160%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content:hover .sub1{
  display: block ;
}
/*.dropdown_subcontent1{
      display: none;
      position: relative;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
}

.dropdown_subcontent1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
*/
.moodle{
  position: absolute;
  right : 0% ;

}
.button {
  display: inline-block;
  border-radius: 2px;
  background-color: #6397DD;
  border: none;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 12px;
  width: 113px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  right: 1% ;
  top : 3px ;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

a.font{
  color : #01508C ;
  font-weight : bold ;
}

.info{
  position: absolute;
  top : 5% ;
  color : black ;
  font-size: 20px ;
  font-family: arial , verdana , sans-serif;
}
.leftpane{
  position: absolute;
  width: 32% ;
  height : 100% ;
  left : 3% ;
}
.announment{
  position: relative;
  width : 100% ;
  height : 70% ;
  border : 1px solid #01508C ;
  top : 80px;
  border-radius:10px;
  box-shadow:3px 5px 20px #888888;
}

.announ{
  position: relative;
  border-radius: 5px;
  width : 100% ;
  height : 13% ;
  background-color: #01508C ;

}

.annou_text{
  position: relative;
  color : white ;
  top : 10px ;
  left : 16px ;
  font-size : 15px;
}
.an_content{
  position: absolute;
  width: 100% ;
  height: 95% ;
  overflow : hidden;
  font-family: arial , verdana , sans-serif;
  color : black ;
}

.midpane{
  position: absolute;
  width: 35% ;
  height: 100%;
  left: 35% ;
}
.glance{
  position: relative;
  width : 100% ;
  height : 70% ;
  border : 1px solid #01508C ;
  top : 80px ;
  left : 7% ;
  border-radius:10px;
  box-shadow:3px 5px 20px #888888;
}

.glan{
  position: relative;
  width : 100% ;
  height : 13% ;
  border-radius:5px;
  background-color: #01508C ;
}

.glance_text{
  position: relative;
  color : white ;
  top : 10px ;
  left : 16px ;
  font-size : 15px ;
}
.glance_content{
  position: absolute;
  width: 100% ;
  height: 87% ;
  overflow : auto;
}
.x{
  word-wrap: break-word;
  text-indent : 45px ;
  padding-top: 13px ;
  position: absolute ;
  padding-left: 10px ;
  width : 100% ;
  padding-bottom: 10px ;
}


.rightPane{
  position: relative;
  top:20px;
  margin-right: 30px;
  width:22%;
  float: right;
  height: auto;
}

.login{
  position: absolute;
  width: 23% ;
  height: 43% ;
  top : 30% ;
  border: 1px solid #B8CFE0 ;
  right: 1% ;
  background-color: #B8CFE0 ;
  box-shadow:3px 5px 20px #888888;
  background: linear-gradient(to right, #B8CFE0 , #E3EAF0 , #B8CFE0 ); /* Standard syntax */
}


.login_heading{
  width : 100% ;
  position: relative;
  height : 6% ;
  color : white ;
  background-color: #01508C;
  cursor: pointer;
}

.academics{
width : 100% ;
position: relative;
height : 6% ;
color : white ;
background-color: #01508C;
cursor: pointer;
top : 5px ;
}
.app{
width : 100% ;
position: relative;
height : 6% ;
color : white ;
background-color: #01508C;
cursor: pointer;
top : 10px;
}

.gallery{
width : 100% ;
position: relative;
height : 6% ;
color : white ;
background-color: #01508C;
cursor: pointer;
top : 15px;
}

.des{
width : 100% ;
position: relative;
height : 6% ;
color : white ;
background-color: #01508C;
cursor: pointer;
top : 20px;
}

.feed{
width : 100% ;
position: relative;
height : 6% ;
color : white ;
background-color: #01508C;
cursor: pointer;
top : 25px;
}

.right,.down{
  padding-right:10px;
}

.login_content,.academics_content,.app_content ,.gallery_content,.des_content,.feed_content{
  position: initial;
  height: auto ;
  top : 0% ;
  color : #01508C ;
  border: 1px solid #B8CFE0;
  background-color: #B8CFE0 ;
  box-shadow:3px 5px 20px #888888;
  background: linear-gradient(to right, #B8CFE0 , #E3EAF0 , #B8CFE0 ); /* Standard syntax */
  display: none ;
}

.login_text,.academic_text,.app_text,.gallery_text,.des_text ,.feed_text{
  position : relative ;
  top : 5px ;
  font-family: arial , verdana , sans-serif;
  font-weight: bold ;
  padding-left: 30px ;
  font-size : 15px ;

}

.username{
  padding-left: 15px ;
}

.username_box{
  position: relative;
  width: 77% ;
}

.forgot{
  padding-left: 15px ;
  position: relative;
}

.image_1{
  position: relative;
  width: 70px ;
  height: 70px ;
  top : 20px ;
}
.gallery_content{
  height: 110px;
}
.appFooter{
  position:fixed;
  bottom:0px;
  width: 100%;
  text-align: center;
  color: white;
  background: linear-gradient(to right, #01508C , white);
  font-weight:bold;
}
/*
.gallery_content{
  position: relative;
  height: auto ;
  top : 0% ;
  color : #01508C ;
  border: 1px solid #B8CFE0;
  background-color: #B8CFE0 ;
  box-shadow:3px 5px 20px #888888;
  background: linear-gradient(to right, #B8CFE0 , #E3EAF0 , #B8CFE0 ); /* Standard syntax */

/*
.academics{
  width : 100% ;
  position: relative;
  height : 6% ;
  color : white ;
  background-color: #01508C ;
  top : 5px ;
  cursor: pointer;

}
/*
.academics_content{

  color : #01508C ;
  font-family : arial , verdana , sans-serif ;
  font-weight: bold;
  height: auto ;
  top : 0% ;
  border: 1px solid #B8CFE0;
  background-color: #B8CFE0 ;
  box-shadow:3px 5px 20px #888888;
  background: linear-gradient(to right, #B8CFE0 , #E3EAF0 , #B8CFE0 ); /* Standard syntax */

 /*.academics_text{
  position : relative ;
  font-family: verdana;
  font-weight: bold ;
  padding-left: 30px ;
  font-size : 15px ;

}*/
